.app{
    width: 38em;
    @media(max-width: @xs){
        width: 33em;
    }
    margin: 2em auto;
    padding: 0 1em;
    &_flex{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &_head{
        font-size: 1.7em;
        margin: 3em 0 1em;
        color: darken(@dark, 10%);
    }
}
.application{
    position: relative;
    padding: 1em;
    margin: 1em 0;
    min-height: 3em;
    box-shadow:  2px 2px 3px 1px rgba(0, 0, 0, .3);
    transition: box-shadow .2s;
    .bef-aft{
        content: '-';
        font-size: 3em;
        color: lighten(@dark, 30%);
        position: absolute;
        top: 0;
        opacity: 0;
        .trs;
    }
    &::before{
        .bef-aft;
        top: 1rem;
        left: -3em;
    }
    &::after{
        .bef-aft;
        right: -3em;
    }
    &:hover{
        box-shadow:  4px 4px 3px 1px rgba(0, 0, 0, .3);
        &::before{
            left: -1em;
            opacity: 1;
            color: lighten(@green, 30%);
        }
        &::after{
            right: -1em;
            opacity: 1;
            color: lighten(@green, 30%);
        }
    }
    h2{
        margin: 0 0 1em;
        font-size: 1.4em;
        line-height: 1.5rem;
        color: darken(@green, 10%);
    }
    h3{
        margin: 1.2em 0 .5em;
        font-size: 1.3em;
        line-height: 1.4em;
        color: darken(@green, 18%);
    }
    h4{
        margin: 1.2em 0 0;
        font-size: 1.2em;
        line-height: 1.4em;
    }
    p{
        margin: .2rem 0;
    }
    p, span, li{
        line-height: 1.5em;
        font-size: 1.15em;
    }
    ol{
        list-style-type: decimal;
        margin-left: 1em;
    }
    ul{
        list-style-type: urdu;
        list-style-position: inside;
    }
    label{
        font-size: 1.2rem;
    }
    button, input{
        border: 1px solid rgba(0, 0, 0, .5);
        border-radius: 3px;
        background: none;
        font-size: 1em;
        padding: 3px 8px;
        margin: .5em 0 0;
    }
    button{
        margin-top: .5em;
        margin-right: .5em;
        .trs;
        &:hover{
            color: lighten(@text, 10%);
            cursor: pointer;
        }
    }
    input{
        display: inline-block;
        margin-right: 1em;

        &[type="checkbox"], &[type="radio"]{
            margin: .5rem 0;
        }
        &+label{
            margin-right: 1rem;
        }
    }
    table{
        width: 100%;
        text-align: left;
        tr{
            td{
                font-size: 1.15rem;
                padding: .3em 1em .3em 0;
            }
        }
    }
    .pre{
        background: @bg;
        code{
            background: none;
            white-space: pre;
            position: relative;
            left: -8rem
        }
    }
    code{
        font-family: "Roboto Mono", courier, monospace;
        font-size: .8em;
        padding: 1px 4px;
        margin: 0 2px;
        border-radius: 2px;
        white-space: nowrap;
        color: @orange;
        background: @bg;

        user-select: all;
        pre{
            white-space: pre;
        }
    }
}
